*{
    padding: 0px;
    margin: 0px;
}
body{
    display: block;
    max-width: 1650px;
    width: 100%;
    margin: auto;
    height: auto;
    box-sizing: border-box;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    overflow-x: hidden;
}
a{
    display: block;
    text-decoration: none!important;
    cursor: pointer;
    color: #000;
}
a:hover{
    display: block;
    text-decoration: none;
    color: #000;
}
img{
    width: 100%;
    display: block;
}
.container{
    display: block;
    /* max-width: 1380px; */
    width: 85%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/*** start-main-code ***/
/*** varriable ***/
:root{
    --primary-color:#D81A32;
    --seconder-color:#041C4F;
    --danger-color:#121634;
    --primary-font:"Poppins",sans-serif;

}
/*** defualt-class ****/
.title{
    font-weight: bold;
    color: var(--danger-color);
    font-style: normal;
    font-family: var(--primary-font);
    font-size: 35px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 10px; 
}
.title span{
    color: var(--primary-color);
}
.subtitle{
    color: #302F2F;
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    display: block;
    font-weight: 500;
    line-height: 25px;
    max-width: 500px;
    margin: auto;

}

/**** header-area ***/
.header-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 17px 0px;
    background-color: #fff;
    margin-bottom: 20px;
}
.logo-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.logo-area img{
    display: block;
    max-width: 100%;
    min-width: 180px;
    object-fit: contain;
}
.menu-area{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.menu-area ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
.menu-area ul li{
    display: inline-block;
    margin-right: 15px;
}
.menu-area ul li:last-child{
    margin: 0px;
}
.menu-area ul li a{
    display: block;
    color: var(--seconder-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    position: relative; 
}
.menu-area ul li a::after{
    content:"" ;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}
.menu-area ul li a:hover{
    color: #D81A32;
}
.menu-area ul li a:hover::after{
    bottom: -5px;
    visibility: visible;
    opacity: 1;
}
.ready{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
}
.ready li{
    display: inline-block;
    margin-right: 15px;
}
.ready li:last-child{
    margin: 0px;
}
.ready #ready-btn{
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family:var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    margin-top: 10px;
    transition: all 0.3s linear;
    width:160px; 
}
.ready li span{
    display: block;
    color:var(--primary-color);
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 5px;
    padding: 5px; 
}
.ready #ready-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
/*** banner-area ***/
.banner-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 15vh;
    margin-top:5vh;
}
.banner-container{
    padding-left: 8%;
}
.banner-main{
    display: grid;
    grid-template-columns: 450px 3fr;
}
.banner-text-area{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner-heading h1{
    font-weight: bold;
    color: #121634;
    font-style: normal;
    font-family: var(--primary-font);
    font-size: 45px;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 15px; 
}
.banner-heading p{
    color: #1E255E;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    display: block;
    max-width: 440px;
    font-family: var(--primary-font);
    display: block;
    line-height: 30px;
}
.banner-heading p span{
    color: #D81A32;
    display: inline-block;
}
.start-ready{
    display: block;
    margin-top: 8vh;
}
.start-ready form{
    display: block;
    position: relative;
    max-width: 450px;
}
.start-ready form input{
    display: block;
    width: 100%;
    background-color: #fceff0;
    outline: none;
    border: 1px solid #fceff0;
    padding: 13px 15px;
    box-sizing: border-box;
    border-radius: 30px;
    font-family:var(--primary-font);
    color: #fceff0;
    font-size: 16px;
}
.start-ready button{
    cursor: pointer;
    outline: none!important;
    background-color: var(--primary-color);
    outline: none;
    color: #fff;
    display: block;
    max-width: 140px;
    border: 1px solid var(--primary-color);
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 16px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}
.banner-img img{
    display: block;
    width: 100%;
    margin-left: auto;
    max-height: 450px;
    object-fit: cover;
    border-radius: 250px 0px 0px 250px;
}
/**** section-1 ****/
.section-1{
    display: block;
    margin-top: 5vh;
    margin-bottom: 15vh;
}
.section1-top{
    display: block;
    margin-bottom: 10vh;
}
.section1-main{
    display: block;
    max-width: 1200px;
    margin: auto;
}
.section1-details{
    background-color: var(--primary-color);
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 6px #f4c5cb;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-bottom: 20px;
}
.section1-details:hover{
    transform: translateY(-5px);
}
.icon{
    background-color: #d32f44;
    width:70px;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 40px;
}
.icon img{
    height: 43px;
    width: 43px;
}
.text{
    display: block;
}
.text span{
    color: #fff;
    font-family: var(--primary-font);
    font-style: normal;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/**** section-2 ****/
.section-2{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #ffecee;
    padding: 10vh 0px;
    margin-bottom: 15vh;
}
.section2-top{
    display: block;
    margin-bottom: 10vh;
}
.section2-main{
    display: block;
    max-width: 1100px;
    margin: auto;
}
.section2-details{
    display: block;
    margin-bottom: 20px;
}
.section2-details img{
    margin: 0px auto 20px auto;
    width: 100%;
    transition: all 0.3s linear; 
}
.section2-img{
    overflow: hidden;
    border-radius: 10px;
}
.section2-details:hover img{
    transform: scale(1.03);
}
.section2-details-title{
    display: block;
    width: 100%;
    text-align: center;
}
.section2-details a{
    color: var(--danger-color);
    font-weight: 600;
    font-style: normal;
    font-family: var(--primary-font);
    font-style: normal;
    transition: all 0.3s linear;
    font-size: 18px;
}
.section2-details:hover a{
    color: var(--primary-color);
}
/**** section-3 ****/
.section-3{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 15vh;
}
.section3-top{
    display: block;
    margin-bottom: 10vh;
}
.section3-main{
    display: block;
    max-width: 1100px;
    margin: auto;
}
.section3-details{
    display: block;
    margin-bottom: 20px;
}
.section3-details img{
    width: 100%;
    height: 260px;
    transition: all 0.3s linear; 
}
.section3-img{
    overflow: hidden;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 25px;
}
.section3-details:hover img{
    transform: scale(1.03);
}
.section3-details-title{
    display: block;
    width: 100%;
    text-align: center;
}
.section3-details a{
    color: #121634;
    font-weight: 600;
    font-style: normal;
    font-family: var(--primary-font);
    font-style: normal;
    transition: all 0.3s linear;
    font-size: 18px;
}
.section3-details:hover a{
    color: var(--primary-color);
}
/**** section-4 ***/
.section-4{
    display: block;
    width: 100%;
    height: auto;
    padding: 15vh 0px;
    background-color: #ffecee;
    margin-bottom: 15vh;
}
.section4-top{
    display: block;
    margin-bottom: 10vh;
}
.product-card{
    background-color: #fff;
    padding: 30px 25px 25px 25px;
    box-sizing: border-box;
    position: relative;
    /* box-shadow:0 5px 5px 0 #d7d9f0; */
    transition: all 0.3s linear;
    margin-bottom: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.product-card:hover{
    box-shadow:0 10px 20px 0 #d7d9f0;
}
.product-details{
    display: block;
}
.rating{
    display: block;
    margin-bottom: 15px;
}
.rating ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.rating ul li{
    display: inline-block;
    font-size: 17px;
    color: #ffc107;
    margin-right: 4px;
}
.rating ul li:last-child{
    color: #e7e7e7;
    margin-right: 0px;
}
.product-description{
    display: block;
}
.product-description a{
    color: #000;
    font-weight: 600;
    font-style: normal;
    max-width: 350px;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family:var(--primary-font);
    font-size: 17px;
    margin-bottom: 12px;
}
.product-description p{
    color: #454545;
    font-size: 15px;
    font-family: var(--primary-font);
    font-weight: 500;
    display: block;
    line-height: 25px;
}
.product-img{
    display: block;
    max-width:220px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.product-img img{
    margin: auto;
    max-height: 210px;
    object-fit: contain;
}
.price{
    display: block;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.discount{
    display: block;
    width: 80px;
    padding: 6px 7px;
    box-sizing: border-box;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-card:hover .product-description a{
    color: var(--primary-color);
}
.see-all-btn{
    display: block;
    margin-top: 7vh;
}
.see-all-btn a{
    display: block;
    max-width: 220px;
    background-color: var(--primary-color);
    padding: 15px 20px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    margin: auto;
    transition: all 0.3s linear;
}
.see-all-btn a span{
    position: relative;
    left: 5px;
    transition: all 0.3s linear;
}
.see-all-btn a:hover span{
    left: 8px;
}
.see-all-btn a:hover{
    background-color: #fff;
    color: var(--primary-color);
}

/**** section5****/
.section-5{
    display: block;
    margin-bottom: 15vh;
}
.section5-top{
    display: block;
    margin-bottom: 14vh;
}
.section5-main{
    display: block;
    max-width: 1200px;
    margin: auto;
}
.section5-details{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.section5-img{
    margin-bottom: 30px;
}
.section5-img img{
    width: 100px;
    margin: auto;
}
.section5-details a{
    color: #121634;
    font-weight: 600;
    font-style: normal;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    transition: all 0.3s linear;
    font-size: 17px;
}
.section5-details:hover a{
    color: #D81A32;
}
/**** foooter-area ****/
.footer-area{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #11100F;
    padding: 10vh 0px;
}
.footer-info{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.f-logo{
    display: block;
    margin-bottom: 20px;
}
.f-logo img{
    max-width: 230px;
}
.f-description{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.f-description span{
    color: #454545;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 14px;
    display: block;
    line-height: 23px;
}
.f-social{
    display: block;
}
.f-social ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.f-social ul li{
    display: inline-block;
    margin-right: 10px;
}
.f-social ul li:last-child{
    margin: 0px;
}
.f-social ul li a{
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
}
.join-info{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.join-info h2{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: block;
    margin-bottom: 20px;
}
.form form{
    display: block;
    position: relative;
    max-width: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.form form input{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #454545;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
}
.form form button{
    background-color: var(--primary-color);
    width: 80px;
    border-radius: 0px 30px 30px 0px;
    outline: none;
    border: 1px solid transparent;
    padding: 10px 0px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16.5px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 0.3s linear;
}

.f-link{
    display: block;
    
}
.f-link h2{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: block;
    margin-bottom: 20px;
}
.f-link ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.f-link ul li{
    display: block;
    margin-bottom: 6px;
}
.f-link ul li a{
    color: #454545;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-size: 14px;
    display: block;
    line-height: 23px;

}
.f-link ul li a:hover{
    text-decoration: underline;
    color: #fff;
}